<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>{{BASE_URL}}/</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/index.html</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/README.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/START_HERE.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/FAQ.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/docs/KNOWN_LIMITATIONS.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/docs/CRITICAL_OBJECTIONS.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/docs/LAUNCH_COPY.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/templates/PURPOSE_EVAL_CHECKLIST.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/spec.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/AI_README.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/SUMMARY.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/ENGLISH_ABSTRACT.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/llms.txt</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/llms-full.txt</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/docs/map.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/docs/DESIGN_RATIONALE.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/safety/CORE_INVARIANTS.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/safety/safety-constraints.json</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/conformance/CONFORMANCE_SUITE.md</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/conformance/conformance-suite.json</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/machine/concept-index.json</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/machine/dependency-graph.json</loc>
  </url>
  <url>
    <loc>{{BASE_URL}}/machine/normativity-map.json</loc>
  </url>
</urlset>
